{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="form">
    <form class="login-form" action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}

        <input type="text" placeholder="{{ 'security.login.username'|trans }}" id="username" name="_username" value="{{ last_username }}" required="required"/>
        <input type="password" placeholder="{{ 'security.login.password'|trans }}" id="password" name="_password" required="required"/>

        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

        <button type="submit" id="_submit" name="_submit">{{ 'security.login.submit'|trans }}</button>
        <p class="message"><a href="{{ path('fos_user_resetting_request') }}">Forgot your password?</a></p>
        <p class="message">Not registered? <a href="{{ path('fos_user_registration_register') }}">Create an account</a></p>
    </form>
</div>
